/* base */
@import "./base/vars.scss";
@import "./base/typography.scss";
@import "./base/grid.scss";
@import "./base/mixin.scss";

/* layout */
@import "./layout/inc-header.scss";
@import "./layout/inc-footer.scss";

/* pages */
@import "index";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $baseFont;
  font-weight: 400;
  font-size: rem(16px);
  line-height: 1.42;
  color: 101010;
  background-color: #fff;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

#middle {
  flex: 1 0 auto;
  -webkit-box-flex: 1;
}

#footer {
  flex: 0 0 auto;
  -webkit-box-flex: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $widthContainer;
  padding-left: $paddingContainer;
  padding-right: $paddingContainer;

  @media (max-width: 1024px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}


.login {
  position: relative;
  background: #F4F5F6;
  height: 100%;
  @media(max-width:1024px) {
      display: none;
  }
  &-img {
    background-image: url(../images/bg/bg-login.svg);
    height: 100%;
    background-position: center -122px;
    background-repeat: no-repeat;
  }
}

.ui-field {
  margin-bottom: 4px;
  label {
    display: block;
    font-size: rem(13px);
    font-weight: 500;
    color: silver;
    margin-bottom: 13px;
  }
  span.error {
    display: block;
    font-size: rem(12px);
    color: #FF4E4E;
    line-height: 23px;
  }
  &-input {
    width: 100%;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 0px 20px ;
    font-family: $baseFont;
    font-weight: 500;
    height: 48px;
    color: #000;
    &::placeholder {
      color: #9B9B9B;
    }
    &:focus {
      outline: none;
      border: 1px solid #adb2c0;
    }
    &:hover {
      border: 1px solid #adb2c0;
    }
    &.error {
      &::placeholder {
        color: #FF4E4E;
      }
      border: 1px solid #FF4E4E;
    }

    &-textarea {
      height: 84px;
      resize: none;
      padding: 15px 16px;
    }

  }
  &-password {
    position: relative;
    &-eye {
      position: absolute;
      width: 24px;
      height: 24px;
      right: 17px;
      top:17px;
      background-image: url(../images/icon/eye-password.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }
  &-inn {
    margin-bottom: 15px;
  }
  &-textarea {
    margin-bottom: 40px;
     @media(max-width:576px) {
            margin-bottom: 0;
        }
  }
  &-document {
    margin-bottom: 24px;

  }
}


.input-eye {
  padding-right: 52px;
}
// Класс для смены иконки "глазик" в поле - пароль
.password-eye-see {
  background-image: url(../images/icon/eye-password-see.svg);
}
// Кастомный стиль для ошибки ИНН
.inn-occupied {
  font-weight: 500;
  font-size: 13px;
  color: #000;
  a {
    color: #FF4E4E;
  }
}
.required-field {
  color: #FF4E4E;
  font-weight: 600;
}
// custom checkbox style
.registration-footer-checkbox {
  position: absolute;
  z-index: 1;
  opacity: 0;
  left: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  &-link {
    color: #0029FF;
  }
}
.registration-footer-checkbox+label {
  user-select: none;
  cursor: pointer;
}
.registration-footer-checkbox+label::before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
}
.registration-footer-checkbox:checked+label::before {
  border-color: #0029ff;
  background-color: #0029ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-size: 10px;
}

.registration-footer-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.registration {
  max-width: 328px;
  margin: 0 auto;

  &-ty {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
     @media(max-width:400px) {
            height: auto;
        }
  }
  &-title {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: rem(32px);
    margin-bottom: 24px;
    color: #000;
    line-height: 1;
  }
  &-text {
    margin-bottom: 24px;
    ol {
      padding-left: 20px;
      li {
        margin-bottom: 5px;
        list-style: auto;
      }
    }
  }
  &-addcontent {
    display: block;
    background: #fff;
    border: none;
    color: #0029FF;
    font-size: rem(14);
    padding: 0;
  }
  &-btn {
    position: relative;
     border: none;
     width: 100%;
    //  max-width: 397px;
     padding: 0px 20px;
     line-height: 56px;
     height: 56px;
     text-align: center;
     font-size: rem(16px);
     color: #fff;
     background: linear-gradient(90deg, #E64A70 0%, #B44AE6 102.15%);
     border-radius: 12px;
     cursor: pointer;
     transition: 0.3s ease;
     &:hover {
         background: linear-gradient(90deg, #101010 0%, #101010 102.15%);
     }
     &-disabled {
         opacity: 0.5;
         box-shadow: none;
         cursor: auto;
         &:hover {
          background: #B8BABF;
         }
     }
     &-back {
      display: block;
       width: 100%;
       padding: 0px 20px;
       line-height: 56px;
       border-radius: 12px;
       margin-bottom: 8px;
       cursor: pointer;
       transition: 0.3s ease;
       height: 56px;
       text-align: center;
       font-size: rem(16px);
       background: #fff;
       border: 1px solid #000;
       &:hover {
        color: #fff;
        background: #000;
       }
     }
  }
  &-footer {
      &-info {
          font-size: rem(13px);
          color: #777E90;
          margin-bottom: 30px;
      }
      &-check {
        position: relative;
        padding-left: 27px;
          margin-bottom: 25px;
          font-size: rem(13px);
          color: #000;
          font-weight: 500;
          span.error {
            position: absolute;
            bottom: -20px;
            left: 27px;
            display: block;
            font-size: rem(12px);
            color: #FF4E4E;
            line-height: 23px;
          }
      }
  }
}

.btn-disabled {
  opacity: 0.5;
  &:hover {
    background: linear-gradient(90deg, #E64A70 0%, #B44AE6 102.15%);
  }
}

.ui-mb-8 {
  margin-bottom: 8px;
}
.ui-mb-16 {
  margin-bottom: 16px;
}
.ui-mb-40 {
  margin-bottom: 40px;
}


.textpage {
  height: auto;
}

#date {
  font-size: 16px;
}


@media (max-width: 1024px) {
  .registration-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 40px;
    min-height: calc(100vh - 216px);
    min-height: calc(var(--vh,1vh)*100 - 216px);
  }
}



/* from 13.04.23 */
.registration {
  padding-bottom: 32px;
}
.registration-form {
  margin-top: 24px;
}
.page-panel {
  margin-bottom: 24px;
  padding-bottom: 160px;
  position: relative;

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
  }
  &-logo {
    position: absolute;
    right: 26px;
    bottom: 59px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 35px;
    background: linear-gradient(90deg, #E64A70 0%, #B44AE6 102.15%);
    border-radius: 0px 0px 24px 24px;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    right: 10px;
    bottom: 35px;
    background-color: #000;
    border-radius: 0px 0px 24px 24px;
    transform: rotate(6deg);
    z-index: -2;
  }
}
.payment-fields {
  padding-bottom: 36px;
}
select.ui-field-input {
  text-overflow: ellipsis;
  padding-right: 36px;
  font-size: 16px;
  background: #FFF url(../images/select.svg) right top no-repeat;
  appearance: none;
}
.registration-subtitle {
  font-size: 20px;
  color: #000;
  margin-bottom: 12px;
}